[submodule "SQL"]
	path = SQL
	url = https://github.com/nholuongut/sql-scripts
[submodule "sql"]
	path = sql
	url = https://github.com/nholuongut/sql-scripts
[submodule "templates"]
	path = templates
	url = https://github.com/nholuongut/templates
